body{
    font-family: Arial, sans-serif;
    background-color: #F4F4F4;
    color: #000000;
    margin: 0;
    padding: 20px;
    transition: .3s;
}

.container{
    max-width: 1200px;
    margin: auto;
}

h1{
    text-align: center;
    margin-bottom: 30px;
}

#produtos{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}

.produto{
    background: #FFFFFF;
    border-radius: 12px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 3px 8px rgba(0,0,0,.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: .25s;
}

.produto:hover{
    transform: translateY(-5px);
}

.produto img{
    width: 100%;
    max-width: 277px;
    height: 277px;
    object-fit: contain;
}

.produto h3{
    margin: 12px 0;
}

.preco{
    font-size: 18px;
    font-weight: bold;
}

.contador{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    margin-top: auto;
    padding-top: 10px;
}

.contador button{
    width: 35px;
    height: 35px;
    border-radius: 8px;
    border: 1px solid #777777;
    background: #EFEFEF;
    color: #000000;
    cursor: pointer;
    transition: .2s;
}

.contador button:hover{
    transform: scale(1.08);
}

.contador span{
    min-width: 20px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

button{
    background: #008000;
    color: #FFFFFF;
    border: none;
    padding: 9px 16px;
    border-radius: 6px;
    cursor: pointer;
    transition: .2s;
}

button:hover{
    background: #006400;
}

#pix{
    background: #77B6A8;
}

#pix:hover{
    background: #5EA091;
}

#cc{
    background: #F79E1B;
}

#cc:hover{
    background: #D78612;
}

#carrinho{
    margin-top: 35px;
    background: #FFFFFF;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 3px 8px rgba(0,0,0,.2);
}

#listaCarrinho{
    padding-left: 20px;
}

input{
    padding: 8px;
    border-radius: 6px;
    border: 1px solid #999999;
    margin-bottom: 10px;
}

body.dark{
    background: #181818;
    color: #FFFFFF;
}

body.dark .container{
    color: #FFFFFF;
}

body.dark .produto{
    background: #2F2F2F;
    color: #FFFFFF;
    box-shadow: 0 3px 10px rgba(0,0,0,.5);
}

body.dark #carrinho{
    background: #2F2F2F;
    color: #FFFFFF;
    box-shadow: 0 3px 10px rgba(0,0,0,.5);
}

body.dark h1,
body.dark h2,
body.dark h3,
body.dark p,
body.dark span,
body.dark li{
    color: #FFFFFF;
}

body.dark input{
    background: #444444;
    color: #FFFFFF;
    border: 1px solid #777777;
}

body.dark input::placeholder{
    color: #D0D0D0;
}

body.dark .contador button{
    background: #555555;
    color: #FFFFFF;
    border: 1px solid #888888;
}

body.dark .contador button:hover{
    background: #666666;
}